* {
  box-sizing: border-box;
  text-transform: uppercase;
  cursor: default;
  user-select: none;
  text-align: center;
  color: white;
  scroll-behavior: smooth;
}

#root {
  margin: 0 auto;
}

h1 {
  margin: 0;
  font-size: 24px;
}

h2 {
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  font-size: 11px;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.grid_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  border-radius: 5px;
}

.grid_item_content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.grid_bottom {
  height: 350px;
}

.grid_top {
  height: 500px;
}

.split_grid_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #7e7e7e;
  text-align: center;
  border-radius: 5px;
  width: 350px;
  overflow: hidden;
  padding: 18px;
  width: 400px;
  height: 280px;
  gap: 5px;
}

.split_grid_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #7e7e7e;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  padding: 25px;
  width: 400px;
  height: 210px;
}

.icon {
  background-color: rgb(255, 255, 255);
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.icon_background {
  background-color: rgb(162, 162, 162);
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  rotate: 45deg;
  margin-top: 15px;
  /* scale: 0.9; */
}

.icon > svg {
  padding: 2px;
  transform: rotate(-45deg);
}

.report_icon {
  background: radial-gradient(rgba(206, 0, 0, 0.6), rgba(206, 0, 0, 0.2));
  border: 2px solid transparent;
  border-image: radial-gradient(rgba(206, 0, 0, 0.6), rgba(206, 0, 0, 0.2)) 1;
}
.report_icon_background {
  background-color: rgba(206, 0, 0, 0.1);
  border: 2px solid transparent;
  border-image: radial-gradient(rgba(206, 0, 0, 0.6), rgba(206, 0, 0, 0.2)) 1;
}

.safezone_icon {
  background: radial-gradient(rgba(0, 99, 206, 0.6), rgba(0, 99, 206, 0.2));
  border: 2px solid transparent;
  border-image: radial-gradient(rgba(0, 99, 206, 0.6), rgba(0, 99, 206, 0.2)) 1;
}
.safezone_icon_background {
  background-color: rgba(0, 99, 206, 0.1);
  border: 2px solid transparent;
  border-image: radial-gradient(rgba(0, 99, 206, 0.6), rgba(0, 99, 206, 0.2)) 1;
}

.gta_settings_icon {
  background: radial-gradient(rgba(0, 206, 165, 0.6), rgba(0, 206, 165, 0.2));
  border: 2px solid transparent;
  border-image: radial-gradient(rgba(0, 206, 165, 0.6), rgba(0, 206, 165, 0.2))
    1;
}
.gta_settings_icon_background {
  background-color: rgba(0, 206, 165, 0.1);
  border: 2px solid transparent;
  border-image: radial-gradient(rgba(0, 206, 165, 0.6), rgba(0, 206, 165, 0.2))
    1;
}

.settings_icon {
  background: radial-gradient(rgba(130, 0, 206, 0.6), rgba(130, 0, 206, 0.2));
  border: 2px solid transparent;
  border-image: radial-gradient(rgba(130, 0, 206, 0.6), rgba(130, 0, 206, 0.2))
    1;
}
.settings_icon_background {
  background-color: rgba(130, 0, 206, 0.1);
  border: 2px solid transparent;
  border-image: radial-gradient(rgba(130, 0, 206, 0.6), rgba(130, 0, 206, 0.2))
    1;
  filter: brightness(1.2);
}

.shop_icon {
  background: radial-gradient(rgba(206, 82, 0.2, 0.6), rgba(206, 82, 0.2, 0.2));
  border: 2px solid transparent;
  border-image: radial-gradient(
      rgba(206, 82, 0.2, 0.6),
      rgba(206, 82, 0.2, 0.2)
    )
    1;
  background-size: contain;
}
.shop_icon_background {
  background: radial-gradient(rgba(206, 82, 0.2, 0.6), rgba(206, 82, 0.2, 0.2));
  border: 2px solid transparent;
  border-image: radial-gradient(
      rgba(206, 82, 0.2, 0.6),
      rgba(206, 82, 0.2, 0.2)
    )
    1;
}


.grid_item_desc {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 15px;
}

.stats_title {
  display: flex;
  gap: 15px;
  align-items: center;
  width: 100%;
}

.split_grid_spacer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.a_stat {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 3px;
  overflow: hidden;
}

.username > h1 {
  padding-inline: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  text-wrap: nowrap;
  text-align: left;
  align-items: left;
}

.stat {
  width: 50%;
  height: 4.5vh;
  display: flex;
  align-items: center;
  font-size: 15px;
  text-overflow: ellipsis;
  padding-inline: 10px;
  text-wrap: nowrap;
  overflow-y: hidden;
}
.wrap {
  justify-content: center !important; /* When wrapped, center content */
}

.stat:nth-last-child(1) {
  background: linear-gradient(
    90deg,
    rgba(46, 46, 46, 0.7),
    rgba(0, 255, 64, 0.705)
  );
}
.stat:nth-child(2) {
  background: linear-gradient(
    -90deg,
    rgba(46, 46, 46, 0.3),
    rgba(46, 46, 46, 0.3)
  );
}

.stat_container {
  width: 50%;
  height: 4.5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(46, 46, 46, 0.7),
    rgba(76, 76, 76, 0.3)
  );
}
.stat_container > h1 {
  font-size: 15px;
}

.spacer {
  /* position: absolute; */
  height: 15px;
  width: 3px;
  margin-left: 7px;
  margin-right: 7px;
  border-radius: 100px;
  background: radial-gradient(at top, #00ff2a89, #3bb896b1);
}

.discord_link {
  background-color: rgba(46, 46, 46, 0.29);
  border-radius: 3px;
  padding: 13px;
  width: 100%;
  display: flex;
  gap: 12px;
  text-align: center;
  display: flex;
  align-items: center;
}
.discord_link > svg {
  width: 25px;
  height: 25px;
  rotate: 90deg;
  fill: rgba(191, 191, 191, 0.75);
  background-color: rgba(128, 128, 128, 0.55);
  padding: 4px;
  border-radius: 5px;
}
.discord_link > h1 {
  font-size: 14px;
}
.join_discord {
  background-color: rgb(127, 110, 255);
  border-radius: 3px;
  padding-block: 8px;
  width: 100%;
}
.join_discord > h1 {
  font-size: 15px;
}

.discord_stuff {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.top_icon_trans {
  position: absolute;
  opacity: 0.1;
  overflow: hidden;
}
.top_icon_trans > div {
  position: static;
  margin-top: -14vh;
}

.top_icon_trans_safezone {
  position: absolute;
  opacity: 0.1;
  overflow: hidden;
}
.top_icon_trans_safezone > div {
  position: static;
  margin-top: -10vh;
}

.discord_logo {
  width: 200px;
  height: 200px;
  position: absolute;
  margin-left: 250px;
  margin-top: -5px;
  rotate: 20deg;
  opacity: 0.9;
}
.discord_logo:last-child {
  width: 200px;
  height: 200px;
  position: absolute;
  margin-left: -90px;
  margin-top: -140px;
  rotate: 340deg;
  opacity: 0.4;
}

/* IDS  */
#shop_tab {
  background: radial-gradient(
      at top,
      rgba(0, 0, 0, 0.589),
      rgba(192, 32, 21, 0.568)
    ),
    url("https://www.pcgamesn.com/wp-content/sites/pcgamesn/2021/04/gta-5-fivem-player-count.jpg");
  background-position: left;
  background-size: cover;
  background-blend-mode: multiply; /* You can try overlay, darken, etc. */
}

#discord_tab {
  background: radial-gradient(at top, rgba(0, 0, 0, 0.589), #332e72);
  overflow: hidden;
  position: relative; /* Ensures overflow applies to absolute children */
}
#statistics_tab {
  background: radial-gradient(circle at top, #55a8926b, rgba(0, 0, 0, 0.589));
  overflow: hidden;
  position: relative; /* Ensures overflow applies to absolute children */
}
#safezone_tab {
  background: radial-gradient(circle at top, #155074, rgba(0, 0, 0, 0.589));
}
#settings_tab {
  background: radial-gradient(circle at top, #411b6d, rgba(0, 0, 0, 0.589));
}
#gta_settings_tab {
  background: radial-gradient(circle at top, #154d43, rgba(0, 0, 0, 0.589));
}
#report_tab {
  background: radial-gradient(circle at top, #771c1c, rgba(0, 0, 0, 0.589));
}

#shop_tab:hover,
#discord_tab:hover,
#statistics_tab:hover,
#safezone_tab:hover,
#settings_tab:hover,
#gta_settings_tab:hover,
#report_tab:hover {
  scale: 1.02;
}
